@model WhoNeedsHelp.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Nulstil kodeord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nulstil kodeord</h2>
@using (Html.BeginForm("ResetPassword1", "Account"))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationMessage("email")*@
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col s12">
            <div class="input-field">
                @Html.EditorFor(model => model.Email, new {@class = "validate"})
                @Html.LabelFor(model => model.Email, new {data_error = "Ikke en emailadresse!", data_success = "Ser ud til at være i orden."})
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <button type="submit" class="btn waves-effect waves-light">Nulstil</button>
        </div>
    </div>
}